<p>
  <%#= current_year %> 
</p>

<p>
  <%#= github_url("alexbar83", "test-guru") %> is a testing platform where users can create, manage and pass tests.
</p>

<p>
  <%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: :blank %>
</p> 
